:root {
  --text-size-xs: 0.69rem;
  --text-size-sm: 1rem;
  --text-size-md: 1rem;
  --text-size-2xl: 1.7rem;
  --text-size-3xl: 2.2rem;
  --text-size-4xl: 3.2rem;

  --header-font: "Work Sans", sans-serif;
  --body-font: "Open Sans", sans-serif;
  --monospace-font: "Source Code Pro", monospace;

  --background-color: #ffffff;
  --right-sidebar-background-color: #ffffff;
  --text-color: #333333;
  --border-color: #dddddd;

  --header-color: #f2f2f2;
  --header-text-color: #666666;

  --sidebar-color: #f2f2f2;
  --sidebar-text-color: #666666;
  --sidebar-text-hover-color: #3689e6;

  --tag-background-color: #3689e6;
  --tag-color: #ffffff;

  --tag-hover-color: rgb(242, 178, 48);
  --tag-background-hover-color: rgba(0, 0, 0, 0);

  --link-color: #c6262e;

  --right-sidebar-border-size: 1px;
}

/******************** TYPOGRAPHY ********************/

html {
  font-size: 14px;
}

@media (min-width: 700px) {
  html {
    font-size: 16px;
  }
}

body,
div,
p,
textarea {
  font-family: var(--body-font) !important;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.rm-level1 *,
.rm-level2 *,
.rm-level3 *,
.rm-heading-level-1 > .rm-block__self .rm-block__input,
.rm-heading-level-2 > .rm-block__self .rm-block__input,
.rm-heading-level-3 > .rm-block__self .rm-block__input,
textarea.rm-title-textarea {
  font-family: var(--header-font) !important;
}

.CodeMirror .CodeMirror-code pre,
.CodeMirror-linenumber {
  font-family: var(--monospace-font) !important;
  font-size: var(--text-size-sm);
}

.rm-page-ref,
.rm-page-ref-tag {
  font-weight: bold;
}

body,
div,
p,
textarea {
  line-height: unset;
  letter-spacing: 0;
}

p,
.roam-block,
textarea.rm-block-input {
  font-size: var(--text-size-md);
  line-height: 1.65;
}

h1,
.rm-level1 span,
.sidebar-content h1.level2,
.rm-title-editing-display textarea,
.rm-heading-level-1 > .rm-block__self .rm-block__input,
h1 textarea {
  margin-top: 0;
  font-size: var(--text-size-4xl) !important;
}

h2,
.rm-level2 span,
.rm-heading-level-2 > .rm-block__self .rm-block__input,
h2 textarea {
  font-size: var(--text-size-3xl) !important;
  font-style: italic;
}

h3,
.rm-level3 span,
.rm-heading-level-3 > .rm-block__self .rm-block__input,
h3 textarea {
  font-size: var(--text-size-2xl) !important;
  font-style: italic;
}

h1 textarea.rm-block-input,
h2 textarea.rm-block-input,
h3 textarea.rm-block-input {
  padding: 8px 0;
}

caption,
.text-caption {
  font-size: var(--text-size-sm) !important;
}

small,
.text-small {
  font-size: var(--text-size-xs) !important;
}

.rm-zoom.zoom-mentions-view {
  font-size: unset;
}

.sidebar-content .window-headers > div {
  font-size: var(--text-size-md) !important;
}

/* align pin icon with filter icon */
.sidebar-content
  div[style*="padding-bottom: 8px"]
  > div[style*="margin-top: -8px"] {
  margin-top: 8px !important;
}

/* hide brackets */
.rm-page-ref__brackets {
  display: none;
}

a {
  color: var(--link-color);
  font-weight: bold;
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

/* fix bullet alignment */
.rm-block > .rm-block__self > .controls {
  margin-top: 2px;
}

.rm-heading-level-1 > .rm-block__self > .controls {
  margin-top: 24px;
}

.rm-heading-level-2 > .rm-block__self > .controls {
  margin-top: 16px;
}

.rm-heading-level-3 > .rm-block__self > .controls {
  margin-top: 12px;
}

/* textarea alignment */
div.rm-block-text,
textarea.rm-block-text {
  margin-top: -0.25rem;
}

/* checkbox alignment */
.check-container {
  top: -0.1rem !important;
  margin-right: 4px;
}

.checkmark {
  height: 1rem;
  width: 1rem;
}

.check-container .checkmark::after {
  left: 4.5px;
  top: 0.5px;
}

/******************** TABLES ********************/

.roam-table th,
.roam-table td,
.roam-table tr {
  border: 0;
  border-bottom: 1px solid var(--border-color);
}

.roam-table table > *:first-child > tr:first-of-type,
.roam-table table.dont-focus-block tr:nth-of-type(2) {
  border-top: 2px solid var(--text-color);
  border-bottom: 0;
}

.roam-table table tbody > tr:last-of-type {
  border-bottom: 2px solid var(--text-color);
}

.roam-table span[style*="background-color: rgb(14, 90, 138);"] {
  background-color: unset !important;
}

/******************** COLORS ********************/

div#right-sidebar {
  background-color: var(--right-sidebar-background-color);
  padding-top: 45px;
}

div.roam-center,
div.roam-body-main {
  background-color: var(--background-color);
}

div#right-sidebar {
  border-left: var(--right-sidebar-border-size) solid var(--border-color);
}

.roam-sidebar-container {
  border-right: var(--right-sidebar-border-size) solid var(--border-color);
}

#right-sidebar .level2 > a {
  color: var(--text-color);
}

.rm-reference-item {
  background-color: var(--background-color);
}

#right-sidebar .rm-reference-item {
  background-color: var(--right-sidebar-background-color);
}

#right-sidebar .bp3-button:before,
#right-sidebar .bp3-button .bp3-icon {
  color: var(--sidebar-text-color);
}

.rm-page-ref-tag,
.rm-page-ref {
  color: var(--tag-color) !important;
  background-color: var(--tag-background-color);
  padding: 2px 4px;
  border-radius: 5px;
  transition: color, background 0.35s ease-in-out 0s;
}

.rm-page-ref-tag:hover,
.rm-page-ref:hover {
  color: var(--tag-hover-color) !important;
  background-color: var(--tag-background-hover-color) !important;
  text-decoration: none;
}

div[style="color: rgb(206, 217, 224);"],
strong[style="color: rgb(206, 217, 224);"] {
  color: var(--text-color) !important;
}

/******************** SIDEBAR ********************/

/* hide sidebar logo */
#roam-sidebar-logo {
  display: none;
}

/* sidebar color */
.roam-body .roam-app .roam-sidebar-container {
  background-color: var(--sidebar-color);
}

/* sidebar text color */
.roam-sidebar-container .rm-db-title-container .rm-db-title,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
.starred-pages-wrapper > div > span,
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page,
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .rm-db-title
  .expand-icon {
  color: var(--sidebar-text-color);
}

/* sidebar: starred pages text weight */
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page,
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page:hover {
  font-weight: normal;
}

/* sidebar divider color */
div.starred-pages-wrapper > div:first-child {
  background-color: var(--border-color) !important;
}

/* sidebar hover color */
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page:hover,
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .log-button:hover,
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .top-row:hover {
  background-color: unset;
  color: var(--sidebar-text-hover-color) !important;
}

/* left sidebar position */
div.roam-sidebar-container[style*="top: 0px;"] {
  padding-top: 45px;
}

/* left sidebar open - close button */
div.roam-sidebar-container[style*="top: 0px;"] span.bp3-icon-menu-closed {
  opacity: 1 !important;
}

/******************** HEADER ********************/

.log-button > div {
  color: inherit;
}

/* header colors */
div.roam-sidebar-container span.bp3-icon-menu-closed::before,
.rm-topbar .bp3-button[class*="bp3-icon-"]::before,
.rm-topbar .bp3-button .bp3-icon {
  color: var(--header-text-color);
}

.bp3-tooltip .bp3-popover-content div {
  color: #ffffff;
}

.rm-ref-page-view-title > a {
  color: var(--tag-color);
  background-color: var(--tag-background-color);
  font-size: var(--text-size-md);
}

.rm-query .rm-query-title {
  background-color: var(--header-color);
  color: var(--header-text-color);
  font-family: var(--monospace-font) !important;
  font-size: var(--text-size-sm);
}

.sidebar-content > div > div {
  border-bottom: 1px solid var(--border-color) !important;
}

.block-border-left {
  border-left: 1px solid var(--border-color);
}

.roam-log-container .roam-log-page {
  border-top: 1px solid var(--border-color);
}

.roam-log-container .roam-log-page:first-child {
  border-top: 0;
}

/* embed container background */
.rm-embed-container {
  background-color: var(--background-color);
}

span[style="color: red;"] {
  color: var(--link-color) !important;
}

.rm-query {
  border-color: var(--border-color);
}

.rm-multibar {
  border-color: var(--border-color);
}

.rm-multibar:hover {
  border-color: var(--border-color);
}

.check-container input:checked ~ .checkmark {
  background-color: var(--tag-color);
}

.intercom-lightweight-app {
  display: none;
}

/******************** CodeMirror ********************/

.CodeMirror {
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}

.CodeMirror-gutters {
  background-color: var(--header-color);
}

.CodeMirror-linenumber {
  color: var(--tag-color);
}

/******************** LAYOUT ********************/

.rm-sidebar-outline .rm-title-display {
  padding-top: 0;
  padding-bottom: 8px;
}

#rm-mobile-bar {
  z-index: 6;
}

.roam-body-main {
  position: relative;
}

.rm-topbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  background-color: var(--header-color);
}

/******************** desktop styles ********************/

@media (min-width: 700px) {
  div.roam-center > div {
    padding-right: 0px !important;
  }

  #roam-right-sidebar-content {
    padding-left: 42px;
  }

  /* left sidebar hover size */
  div.roam-sidebar-container[style*="box-shadow"] {
    bottom: 0px !important;
    box-shadow: unset !important;
  }

  .sidebar-content > div > div {
    padding: 16px 0;
  }

  /* textarea alignment */
  .rm-title-display,
  .roam-body-main .rm-title-editing-display,
  #roam-right-sidebar-content > div.sidebar-content > div:first-child {
    margin-top: 50px;
  }

  #right-sidebar .rm-sidebar-outline .rm-title-editing-display {
    margin-top: -56px;
    margin-bottom: 8px;
  }

  .rm-title-display,
  .roam-body-main .rm-title-editing-display {
    padding-top: 8px;
  }

  .check-container .checkmark::after {
    left: 5px;
    top: 1.5px;
  }
}

/******************** roam/42 ********************/
.jsPanel-hdr,
#jsPanelDNP-min {
  border-radius: 5px;
}

.jsPanel-headerbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
