:root {
  --text-size-xs: 0.69rem;
  --text-size-sm: 0.83rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.2rem;
  --text-size-xl: 1.44rem;
  --text-size-2xl: 1.73rem;
  --text-size-3xl: 2.07rem;
  --text-size-4xl: 2.49rem;
  --text-size-5xl: 2.99rem;

  --header-font: "Work Sans", sans-serif;
  --body-font: "Work Sans", sans-serif;
  --monospace-font: "Source Code Pro", monospace;

  --background-color: #ffffff;
  --text-color: #333333;
  --border-color: #eeeeee;

  --sidebar-color: #f2f2f2;
  --sidebar-text-color: #666666;
  --sidebar-text-hover-color: #3689e6;

  --tag-background-color: #3689e6;
  --tag-color: #ffffff;

  --link-color: #c6262e;
}

/* typography */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro&display=swap");

@media (min-width: 700px) {
  html {
    font-size: 16px;
  }

  body,
  div,
  p {
    font-family: var(--body-font) !important;
    line-height: 1.65;
    color: var(--text-color);
  }

  p,
  .roam-block {
    font-size: var(--text-size-md);
    line-height: 1.65;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--header-font) !important;
    font-weight: bold !important;
    line-height: 1.15 !important;
  }

  h1,
  .rm-level1 span {
    margin-top: 0;
    font-size: var(--text-size-4xl) !important;
  }

  h2,
  .rm-level2 span,
  .window-headers .level2 {
    font-size: var(--text-size-3xl) !important;
  }

  h3,
  .rm-level3 span {
    font-size: var(--text-size-2xl) !important;
  }

  h4,
  .text-size-h4 {
    font-size: var(--text-size-xl) !important;
  }

  h5,
  .text-size-h5 {
    font-size: var(--text-size-lg) !important;
  }

  caption,
  .text-caption {
    font-size: var(--text-size-sm) !important;
  }

  small,
  .text-small {
    font-size: var(--text-size-xs) !important;
  }

  .CodeMirror .CodeMirror-code pre {
    font-family: var(--monospace-font) !important;
  }

  .rm-page-ref,
  .rm-page-ref-tag {
    font-weight: bold;
  }
}

/* colors */

div#right-sidebar {
  background-color: var(--background-color);
}

div#right-sidebar[style="flex: 1 0 40%;"] {
  border-left: 1px solid var(--border-color);
}

#right-sidebar .level2 > a {
  color: var(--text-color);
}

.rm-reference-item {
  background-color: var(--background-color);
}

.rm-page-ref-tag,
.rm-page-ref {
  color: var(--tag-color) !important;
  background-color: var(--tag-background-color);
  padding: 1px 6px;
  border-radius: 4px;
}

div[style="color: rgb(206, 217, 224);"],
strong[style="color: rgb(206, 217, 224);"] {
  color: var(--text-color) !important;
}

/* sidebar color */
.roam-body .roam-app .roam-sidebar-container {
  background-color: var(--sidebar-color);
}

/* sidebar text color */
.roam-sidebar-container .rm-db-title-container .rm-db-title,
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
.starred-pages-wrapper > div > span {
  color: var(--sidebar-text-color);
}

.log-button > div {
  color: inherit;
}

/* sidebar hover color */
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page:hover,
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .log-button:hover,
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .top-row:hover {
  background-color: unset;
  color: var(--sidebar-text-hover-color) !important;
  font-weight: bold;
}

.bp3-popover-content div {
  color: #ffffff;
}

.bp3-popover-content > .bp3-menu div {
  color: var(--text-color);
}

a {
  color: var(--link-color);
  font-weight: bold;
}

a:hover {
  color: var(--link-color);
}

.rm-query .rm-query-title {
  background-color: var(--sidebar-color);
  color: var(--sidebar-text-color);
}

/* layout */

@media (min-width: 700px) {
  div.roam-center > div {
    padding-right: 0px !important;
  }

  div#right-sidebar[style="flex: 1 0 40%;"] {
    position: relative;
    padding-left: 42px;
    flex: 1 0 50% !important;
  }

  .roam-topbar {
    border-bottom: 1px solid var(--border-color);
  }

  #roam-sidebar-logo {
    display: none;
  }

  #right-sidebar[style="flex: 1 0 40%;"] > div.flex-h-box {
    position: absolute;
    left: 8px;
    top: 0;
  }

  /* left sidebar position */
  div.roam-sidebar-container[style*="top: 0px;"] {
    top: 45px !important;
    border-right: 1px solid var(--border-color);
  }

  /* left sidebar hover size */
  div.roam-sidebar-container[style*="box-shadow"] {
    bottom: 0px !important;
    box-shadow: unset !important;
    border-right: 1px solid var(--border-color);
  }

  /* left sidebar open - close button */
  div.roam-sidebar-container[style*="top: 0px;"] span.bp3-icon-menu-closed {
    opacity: 1 !important;
    position: fixed;
    top: 8px;
    left: 16px;
  }
}
